Repository xamarin/Xamarin.PropertyEditing, pull requests merged in 2018-10, with the labels that each got.

#414 Don't notify changes for any value change of a spin editor
  Xamarin.PropertyEditing.Mac/Controls/Custom/NumericSpinEditor.cs
Labels: bug, host-mac

#417 Fix brush editor reuse
  Xamarin.PropertyEditing.Mac/Controls/Custom/BrushTabViewController.cs
  Xamarin.PropertyEditing.Mac/Controls/Custom/UnderlinedTabViewController.cs
  Xamarin.PropertyEditing/IReadOnlyOrderedDictionary.cs
  Xamarin.PropertyEditing/OrderedDictionary.cs
  Xamarin.PropertyEditing/ViewModels/BrushPropertyViewModel.cs
  Xamarin.PropertyEditing/Xamarin.PropertyEditing.csproj
Labels: host-mac

#423 Fix color picker layout issues with unexpected popup dimensions
  Xamarin.PropertyEditing.Mac/Controls/Custom/ColorComponentEditor.cs
  Xamarin.PropertyEditing.Mac/Controls/Custom/SolidColorBrushEditor.cs
Labels: bug, host-mac

#426 [Mac] Initial TypeName implementation.
  Xamarin.PropertyEditing.Mac/Controls/PanelHeaderEditorControl.cs
Labels: host-mac, ui

#427 [Mac] Icon View implementation
  Xamarin.PropertyEditing.Mac/Controls/PanelHeaderEditorControl.cs
  Xamarin.PropertyEditing.Mac/PropertyTableDelegate.cs
Labels: host-mac, ui

#439 Remove struct constraint on mac predefined values editor
  Xamarin.PropertyEditing.Mac/Controls/PredefinedValuesEditor.cs
Labels: bug, host-mac
